<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1 style="text-align: center">Bienvenue dans ce test</h1>
    <p class="connected"></p>
    <script>
      // Récupérer l'élément et mettre à jour son contenu avec l'email
      const connectedElement = document.querySelector(".connected");
      connectedElement.innerHTML =
        "Email de l'utilisateur connecté : " + ;
    </script>
  </body>
</html>
