<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Bienvenue dans la connexion.</h1>
    <div class="form-container">
      <h2>Login</h2>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="email">Email :</label>
          <input type="email" id="mail" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="password">password :</label>
          <input type="password" name="password" placeholder="Password" />
        </div>
        
        <button class="submit-btn" type="submit" >se connecter</button>
      </form>
    </div>

    <p>Sinon vous pouvez en créer un : <a href="/register">s'inscrire</a></p>
  </body>
</html>
